<div class="centered" >
  <mat-card class="card">
      <app-search-input (onSearch)="searchByText($event)" />
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <app-home-user-edit-button />
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <ng-container *ngIf="vm$ | async as vm">
        <app-paginator
          [pageSize]="vm.pageSize"
          [pageIndex]="vm.pageIndex"
          [totalItems]="vm.totalItems"
          [onChange]="onPaginatorChange"
        />
      </ng-container>
  </mat-card>
</div>
