table {
  width: 80%;
  background: var(--mat-card-elevated-container-color);
}
.card {
  padding: 12px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
